body{
    background-color: #F0F2F5;

}
*{
    font-family:Helvetica, Arial, sans-serif;
}
h1{
    color: #1877F2;
    
}
.input{
    border: 1px solid #DDDFE2;
    font-size: 17px;
}
input,#login{
    
    margin-bottom: 12px;
    width: 360px;
    height:28px ;
    padding: 10px;
    border-radius: 5px;
   
}
.form{
    width: 380px;
    background-color:#FFFFFF ;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.137), 0 5px 15px 0 rgba(0, 0, 0, 0.19);

}
#login{
    text-align: center;
    background-color: #1877F2;
    font-weight: bolder;
    color: white;
    display: inline-block;
    font-size: 20px;
}
hr{
    margin: 20px 0px;
    color:#DDDFE2 ;
    
}

a{
    text-decoration: none;
}

.forget{
    font-size: 14px;
    padding: 0px;
}
#green{
    background-color: #42B72A;
    text-align: center;
    font-weight: bolder;
    color: white;
    display: inline-block;/*anchor tag ma width dina ko lagi*/
    height: 48px;
    width: 200px;
    font-size: 17px;
    border: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 70px ;
    
}
.left p{
    font-size: 28px;
    margin-top: -30px;
}
.left h1{
    
    font-size: 60px;
}
.left{
    width: 490px;
}
.CreateCelebrity {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}
.CreateCelebrity a{
  
    color: black;
    font-weight: bold;
}
.CreateCelebrity a:hover{
    text-decoration: underline;
}
.right{
    margin-left:10 px;

}


 /* ============================Responsive=============================== */
@media only screen and (max-width: 1079px){
    .left p{
        font-size: 24px;
    }
    .container{
        margin: 100px 30px ;
    }
    .left{
        width: 400px;
    }
    .right{
        margin-left: 10px;
    }
}
@media only screen and  (max-width: 900px){
   
   .container{
    margin: -20px 0px;
    display: flex;
    flex-direction: column;
   }
   .left{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   }
   .right{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   }
   .left p{
        font-size: 24px;
    }
}
